body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(225, 238, 250);
}

main {
    display: flex;
    justify-content: center;
}

.name-title {
    color: rgb(97, 84, 246);
    margin-top: 3px;

}

.container {
    background-color: white;
    width: 870px;
    padding: 30px;
}

.top-players {
    margin-bottom: 30px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player {
    display: flex;
    align-items: center;

}

.player img {
    width: 56px;
    height: 56px;
}

.player-name {
    margin-left: 16px;
}

hr {
    border: 1px solid rgb(206, 204, 204);
}

.blog {
    display: flex;
}

.thumbnail img {
    width: 177px;
    height: 117px;
}

.blog-info {
    margin-left: 16px;
}

.blog-info a {
    text-decoration: none;
}